@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
.index {
	margin: 0;
	background: rgb(209, 228, 233);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 100%;
	margin: 50 auto;
}



header::after {
    content: '';
    display: table;
    clear: both;
  }
  
.logo {
  float: left;
  padding: 10px 
}

nav {
  float: left;
  justify-content: space-between;
  padding: 10px;
  


}


/*idk who put this here but it does nothing*/
nav ul {
  margin: 100;
  padding: 100;
  list-style: none;
  justify-content: flex-end;


}

/*DONT TOUCH*/nav li {
  display: inline-block;
  margin-left: 10;
  padding-top: 10px;
  position: center;

}


nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 40px;
  background: #ffffff;
  justify-content: space-between;
  padding: 10px;
  width: 200px;
  height: 150px;
  margin: 50px 110px;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}


nav a:hover {
  color: rgb(224, 231, 225);
}


nav a:hover::before {
  width: 100%;
}

.content{
  width: 100%;
  position: absolute;
  color: white;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1{
  margin-top: 80px;
  font-size: 90px;
  font-weight: 800;
}
button{
  width: 200px;
  padding: 15px;
  margin: 20px 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
  border: 2px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
button:hover{
  background: rgb(0, 192, 226);
  transition: 0.5s;
}
button:hover{
  color: black;
}

  


*{
  margin: 0;
  padding: 0;
}
