@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	background: rgb(219, 234, 238);
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
    background-color: rgb(98, 222, 238);
}


header::after {
    content: '';
    display: table;
    clear: both;
  }
  
.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: rgb(224, 231, 225);
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(224, 231, 225);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.content{
  width: 100%;
  position: absolute;
  color: white;
  top: 45%;
  transform: translateY(-50%);
  text-align: center;
}
.content h1{
  margin-top: 80px;
  font-size: 90px;
  font-weight: 800;
}
button{
  width: 200px;
  padding: 15px;
  margin: 20px 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
  border: 2px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
button:hover{
  background: rgb(0, 192, 226);
  transition: 0.5s;
}
button:hover{
  color: white;
}

.background-image{
  background-image: url('./C:\Users\sehr.munjal\2023frontend\flashcards\vincentiu-solomon-ln5drpv_ImI-unsplash.jpg')
  
}

*{
  margin: 0;
  padding: 0;
}
