<!-- Gives option to input a set name, if sumbited a set will be made in set
database and you will be sent to that set's website -->
<link rel="stylesheet" href= "../static/css/createset.css">

{% extends "base.html" %}
{% block title %}Create a Set{% endblock %}
{% block content %}

<div class = createset>
    <h1>Create New Set</h1>
    <form action="{{ url_for('create_set')}}" method="POST">
        <input type="text" placeholder="Set Name" name="name">
        <input type = "submit" value = "Create Set" class = "button" >
        </form>
</div>
{% endblock %}

