{% extends "base.html" %}
{% block title %}Create a Set{% endblock %}
{% block content %}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="createset text-center">
                <h1>Create New Set</h1>
                <form action="{{ url_for('create_set')}}" method="POST">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Set Name" name="name">
                    </div>
                    <button type="submit" class="btn btn-primary">Create Set</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
