{% extends base.html %}
{% block title %}{% endblock %}
{% block content %}
<body>
    <form action="{{ url_for('search_explore')}}" method="POST">
        <input type="text" placeholder="Search Sets" name="query">
        <button type="submit">SUBMIT NOW</button>
    </form>

    {% if results %}
        <h2>Search Results</h2>
        <ul>
            {% for result in results %}
                <li>{{ result.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
{% endblock %}