{% extends "base.html" %} 
{% block title %}fuck you{% endblock %}
{% block top_css %}
<link rel="stylesheet" href= "../static/css/explorecss.css">

 {% endblock %}
{% block css %}

   
{% endblock %}
{% block content %}
    <body>

     
        <div class="containerother">
            <form action="http://127.0.0.1:5000/sets" class="search" id="search-bar">
                <input type="search" placeholder="Type something..." name="/" class="search__input">
    
                <div class="search__button" id="search-button">
                    <i class="ri-search-2-line search__icon"></i>
                    <i class="ri-close-line search__close"></i>
                </div>
            </form>
        </div>
           
        </div>
        <div class = "col">
            <div class = "card">
                <h5>Practice Again</h5>
                <p>See cards that you have practiced in the past</p>
            </div>
        </div>
        
        <script src="../static/js/explorejs.js"></script>
    </body>
</html>
{% endblock %}