{% extends "base.html" %} 
{% block title %}{% endblock %}
{% block content %}
<body>

  <main>
    
    <header>
      <div class="container">
        <div id="header">
          <h1>Flashcards</h1>
          <div>
            <button id="show_card_box">Add Card</button>
            <button id="delete_cards">Del Cards</button>
          </div>
        </div>
      </div>
    </header>
    
    <section>
      <div class="container">
        <div id="create_card">
          <h2>Create Flashcard</h2>
          <!---FIX THIS SO IT ALIGNS WITH MODERN STANDARDS FOR HTML, THE CURRENT CODE IS NOT FIT FOR CURRENT USE-->
          <label for="question">Question</label>
          <textarea id="question" maxlength="280"></textarea>
          <label for="answer" maxlength="280">Answer</label>
          <br>
          <textarea id="answer"></textarea>
          <div>
            <button id="save_card">Save</button> <button id="close_card_box">Close</button>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div id="flashcards"></div>
      </div>
    </section>

  </main>
  
  <script src="../static/js/flashcardScript.js"></script>
</body>
{% endblock %}
