<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href= "../static/css/navbardesgin.css">
        <title>BetterQuizlet</title>
   
    </head>
<body>
    <header>
       
            <div class="container">
                <nav>
                    <u1 class = "primary-nav">
                        <li class = "current"><a href="#">Home</a></li>
                        <li><a href = "featureselect.html">Features</a></li>
                        <li><a href = "login.html">Login</a></li>
                    </ul>

                   
                </nav>
            </div>
            <div class="content">
                <h1>BetterQuizlet</h1>
                <div>
                    <button type><a href = "create.html">Create</a></button>
                    <button type = "button">Explore</button>
                
                </div>
                
        
    </header>
    <div class = "background-image"></div>
</body>

        