{% extends "base.html" %}   
{% block title %}{% endblock %}
{% block content %}
<body class="index"> 
    <header>         
        <div class="content">
            <h1>Better<span class = "auto-type"></span></h1>
            <div class = "button1">
                <button><a href = "{{ url_for('create')}}" >Create</a></button>
                <button><a href = "{{ url_for('explore')}}">Explore</a></button>
            </div>
        </div>    
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <script>
            var typed = new Typed(".auto-type",{
                strings: ["Quizlet", "Experience", "Learning"],
                typeSpeed: 150,
                backSpeed: 150,
                loop:true

            })
        </script>
    </header>
    <div class = "hero">
        <video autoplay loop muted plays-inline class = "back-video">
            <source src = "../static/images/video.mp4" type = "video/mp4">
        </video>
    </div>

    
</body>
{% endblock %}

        