<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "https://use.fontawesome.com/releases/v5.9.0/css/allcss">
    <link rel= "stylesheet" href= "matchingcss.css">
    <script src = "matchingjs.js" defer></script>

</head>
<body>
    


<section class="draggable-elements">
    <h1 class="draggable" draggable="true" alt="Sehr" id="Sehr">Sehr</h1>
    <h1 class="draggable" draggable="true" alt="Logan" id="Logan">Logan</h1>
    <h1 class="draggable" draggable="true" alt="Nate" id="Nate">Nate</h1>
   
   
   
  </section>
  <section class="droppable-elements">
    <div class="droppable" data-draggable-id="Logan"><span>other guy</span></div>
    <div class="droppable" data-draggable-id="Sehr"><span>Smart and awesome</span></div>
    <div class="droppable" data-draggable-id="Nate"><span>other guy #2</span></div>
    
    
  </section>
</body>
</html>