<form method="post" action="/quizResults/{{ set_id }}" name="quiz">
    <h1>Quiz on {{ set_data.name }}</h1>
    {% for question in questions %}
        <div>    
            {% if question.data['type'] == 1 %}
                <!-- Render multiple-choice question -->
                <p>Question {{ loop.index }}: Give a definition for {{ term_names[question.data['data'][1]] }}?</p>
                {% for answer in question.data['data'][0] %}
                    <input type="radio" id="{{ term_names[question.data['data'][1]] }}_{{ loop.index }}_{{ answer }}" name="answers_{{ question.data['data'][1] }}" value="{{ answer }}">
                    <label for="{{ term_names[question.data['data'][1]] }}_{{ loop.index }}_{{ answer }}">{{ definitions[answer - 1] }}</label><br>
                {% endfor %}
            {% elif question.data['type'] == 2 %}
                <!-- Render true/false question -->
                <p>Question {{ loop.index }}: Does this definition match the term {{ term_names[question.data['data'][1]] }}: {{ definitions[question.data['data'][0]] }}?</p>
                <input type="radio" id="{{ term_names[question.data['data'][1]] }}_{{ loop.index }}_True" name="answers_{{ question.data['data'][1] }}" value="{{ True }}">
                <label for="{{ term_names[question.data['data'][1]] }}_{{ loop.index }}_True">True</label><br>

                <input type="radio" id="{{ term_names[question.data['data'][1]] }}_{{ loop.index }}_False" name="answers_{{ question.data['data'][1] }}" value="{{ False }}">
                <label for="{{ term_names[question.data['data'][1]] }}_{{ loop.index }}_False">False</label><br>
            {% endif %}
        </div>
    {% endfor %}

    <button type="submit">Submit</button>
</form>