{% extends "base.html" %} 
{% block title %}Sets Main{% endblock %}
{% block content %}


    <div class="container">
        
        <h1>Sets Main</h1>
        <br/>
        <form action="{{ url_for('sets_main') }}" method="POST">
            <input type="text" placeholder="Search sets" name="query">
            <input type="submit" value="Search" class="button">
        </form>

        <!-- Display search results here -->
        {% if sets %}
            <h2>Search Results:</h2>
            <ul>
                {% for set in sets %}
                    <li><a href="{{ url_for('specific_sets', set_id=set.id) }}">{{ set.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}