<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Better Quizlet</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="center">
      <h1>Sign Up</h1>
      <form method="post">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>New Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>New Password</label>
        </div>
        <div class="txt_field">
            <input type="password" required>
            <span></span>
            <label>Repeat Password</label>
        </div>
        <input type="submit" value="Sign Up">
        <div class="signup_link">
            Already a member? <a href = "login.html">Login</a>
        </div>
        <div class="homepage_link">
            <span></span>
            <a href = "index.html">Homepage</a>
        </div>
      </form>
    </div>

  </body>
</html>